.top-nav {
  background-color: black;
  display: block;
  overflow: hidden;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 37px;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

.top-nav a:active {
  background-color: #04AA6D;
  color: white;
}
